{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <style>

        .emails {
            border: 1px solid black;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .email-content {
            margin-bottom: 1px;
            margin-left: 1px;
        }

        #email {
            display: none;
        }

        textarea {
            width: 1100px;
        }

    </style>

    <h2 id="user">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="email">
        <table>
            <h3 id="subject">Subject: </h3>
            <p id="sender"><b>From: </b></p>
            <p id="recipient"><b>To: </b></p>
            <p id="timestamp"><b>At: </b></p>
            <textarea disabled id='body'></textarea>
            <button id='archive-button' data-emailid="" onclick="archive_email(event)">Archive</button>
            <button id='unarchive-button' data-emailid="" onclick="unarchive_email(event)">Unarchive</button>
        </table>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}